.start-page body {
background-image: url("unc-tar-heels-logo-png_seeklogo-226980.png");
background-position: center center;
background-color: rgb(189, 209, 236);
text-align: center;
}
body {
    background-color: rgb(189, 209, 236);
}
h1 {
margin-top: 3%;
font-size: 45px;
margin-bottom: 6px;
text-align: center;
animation-name: my-animation;
animation-duration: 3s;
animation-iteration-count: infinite;
}
@keyframes my-animation {
    0% {color: rgb(3, 30, 75);}
    33% {color: white;}
    66% {color: black;}
}
h2 {
font-size: 30px;
margin-top: 3px;
color:rgb(3, 30, 75);
text-align: center;
}
.box-item {
    width: 40%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 30px;
    font-size: 25px;
    color:rgb(255, 255, 255);
    background-color: rgb(10, 39, 229, .5);
    border-radius: 10px;
    padding: 5px;
}
.start-button{
    font-size: 35px;
    width: 27%;
    height: 3em;
    border: 7px solid black;
    margin: auto;
    background-color: white;
    line-height: 3em;
    border-radius: 10px;
}
.question{
    font-size: 35px;
    width: 50%;
    height: 25%;
    border: 7px solid black;
    margin: auto;
    background-color: white;
    line-height: 3em;
    text-align: center;
    line-height:1.5;
}
.answer-choices{
    font-size: 20px;
    display: flex;
    width: 80%;
    height: 25%;
    padding: 10px;
    justify-content: center;
    margin: auto;
}
.answer-choices div{
    font-size: 40px;
    border: 7px solid black;
    width: 50%;
    text-align: center;
    background-color: white;
}
@media (max-width: 600px) {
.start-button{
    font-size: 10px;
}
}
.question-1{
    display: flex;
}
.question-1a{
    display: none;
}
.question-2{
    display: none;
}
.question-3{
    display: none;
}
.question-3b{
    display: none;
}
.question-4{
    display: none;
}
.question-5{
    display: none;
}
.question-5a{
    display: none;
}
.question-6{
    display: none;
}
.question-7{
    display: none;
}
.question-7b{
    display: none;
}
.question-8{
    display: none;
}
.question-9{
    display: none;
}
.question-10{
    display: none;
}
#ending-title{
    text-align: center;
}
#ending-description{
    text-align: center;
    width: 50%;
    background-color: white;
    color: black;
    border: 6px solid black;
    margin: auto;
    font-size: large;
    padding: 7px;
    margin-top: 3%;
}