body {
    background-color: darkblue;
}

#headerBox {
    border: solid;
    border-color: gray;
    background-color: blue;
    opacity: .80;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;


}

#gameName {
    font-family: "Iceland", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 250%;

}

#gameWindow {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: solid;
    border-color: black;
    background-image: linear-gradient(50deg, black, gray);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100vh;
    align-items: center;
    border-radius: 30px;
}



.asteroid {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url("images/Asteroid.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ship {
    position: absolute;
    background-image: url("images/Rocket.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}



#menu {
    display: flex;
    background-color: teal;
    height: 7%;
    width: 70%;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
    animation: floatShort 5s infinite;

}

@keyframes floatShort {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(30px);

    }

    100% {
        transform: translateY(0px);
    }
}


.menuButton {
    border: solid;
    border-color: black;
    background-color: yellow;
    text-align: center;
    border-radius: 30px;
    margin: 5%;
    width: 20%;
    font-family: "Rubik Dirt", sans-serif;

}

.endGameScreen {
    border: solid;
    border-color: white;
    background-color: teal;
    text-align: center;
    border-radius: 30px;
    margin: 5%;
    width: 20%;
    font-family: "Rubik Dirt", sans-serif;
}

.scoreCard {
    display: flex;
    background-image: linear-gradient(50deg, teal, yellow);
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    height: 20%;
    width: 50%;


}

.memeImage {
    animation: fadeInOut 2s;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}


@keyframes fadeInOut {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 100%
    }

    100% {
        opacity: 0%
    }
}

@keyframes rainbowCycle {
    0%   { background-color: red; }
    17%  { background-color: orange; }
    33%  { background-color: yellow; }
    50%  { background-color: green; }
    67%  { background-color: blue; }
    83%  { background-color: indigo; }
    100% { background-color: violet; }
}

.rainbow-body-effect {
    animation: rainbowCycle 2s linear infinite;
}


/* Additional Skill */
a {
    text-decoration: none;
}

a:hover {
    color: red;
}

#listContainer {
    border-radius: 30px;
    background-color: teal;
    height: 60%;
    width: 70%;
    display: flex;
    background-color: teal;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 10px;
    margin-bottom: 5%;
    animation: floatShort 5s infinite;

}

li {
    text-decoration: none;
    list-style-type: none;
}

@media (max-width: 600px) {
    #menu {
        flex-direction: column;
        height: 80%;
    }

    .menuButton {
    border-radius: 30px;
    margin: 1%;
    width: 50%;
    font-family: "Rubik Dirt", sans-serif;
    height: 50%;

}


}