body {
  background: rgb(211, 246, 161);
  font-family: Verdana;
}

body {
  color: dark rgb(0, 0, 0);
  
}

/*additional skill!*/
.pen-cursor {
  cursor: url('cursors/pen.svg'), auto;
}

.flipphone-cursor {
  cursor: url('cursors/flipphone.svg'), auto;
}

.iphone-cursor {
  cursor: url('cursors/iPhone.svg'), auto;
}

h1 {
  font-family: "Tektur", sans-serif;
  color: rgb(199, 0, 66);
 font-size: 50px;
}

h2 {
  color: red;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.fade-in-text {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box-1 {
  width: 575px;
  padding: 20px;
  border: 2px solid rgb(254, 113, 235);
  box-sizing: content-box;
}
.box-2 {
  box-sizing: border-box;
}
div {
  column-gap: 10px;
  row-gap: 2px;
  }