@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}

@media (min-width: 768px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

 #scoreBtn {
  display: none;
}
.question-count {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 15px;
  opacity: 0.9;
  letter-spacing: 1px;
  font-family: 'Fredoka One', cursive;
}